body {
    padding: 2rem;
    max-width: 1500px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1r;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

.container {
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.user-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

body {
    background-color: #f2f2f2;
    padding-top: 60px; /* Para compensar o menu fixo */
}

.ui.main.container {
    margin-top: 20px;
}

.ui.message {
    margin-bottom: 20px;
}

.ui.items {
    margin-top: 20px;
}

.user-item {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.user-item .header {
    color: #333;
}

.user-item .meta {
    color: #999;
}