<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../global.css">
    <title>Hub Hotels</title>
</head>
<body>

    <h1>Hub Hotels</h1>

    <h2 th:text="#{hotel.create}"></h2>

    <form th:action="${'/hotels'}" class="container" method="POST" th:object="${hotel}">
        <div class="ui form error">
            <div class="required field six wide field" th:classappend="${#fields.hasErrors('nome')} ? error">
                <label th:text="#{hotel.nome}"></label>
                <input th:field="*{nome}" placeholder="Nome">
                <span class="ui error message" th:errors="*{nome}"></span>
            </div>
            <div class="required field six wide field" th:classappend="${#fields.hasErrors('endereco')} ? error">
                <label th:text="#{hotel.endereco}"></label>
                <input th:field="*{endereco}" placeholder="Endereço">
                <span class="ui error message" th:errors="*{endereco}"></span>
            </div>
            <div class="six wide field" th:classappend="${#fields.hasErrors('urlImagem')} ? error">
                <label th:text="#{hotel.urlImagem}"></label>
                <input th:field="*{urlImagem}" placeholder="URL da Imagem">
                <span class="ui error message" th:errors="*{urlImagem}"></span>
            </div>
            <a href="/hotels" class="ui yellow button">
                <i class="undo icon"></i>
            </a>
            <button class="ui green button" type="submit">
                <i class="check icon"></i>
            </button>
        </div>
    </form>
    
</body>
</html>
