<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="global.css">
    <title>Hub Hotels - Hotels</title>
</head>
<body>

    <h1>Hub Hotels</h1>

    <h2>Hotels</h2>

    <a href="/hotels/new" class="ui green button" style="padding: 10px;">
        <i class="plus icon"></i> Cadastrar Hotel
    </a>

    <div class="ui red message" th:if="${errorMessage != null}">
        <div class="header" th:text="${errorMessage}"></div>
    </div>

    <div class="ui green message" th:if="${sucessMessage != null}">
        <div class="header" th:text="${sucessMessage}"></div>
    </div>
    
    <!--<section class="grid">-->
        <div class="ui stackable five cards grid">
            <div class="ui five wide column" th:each="hotel : ${hotels}">
                <div class="ui card">
                    <div class="image" style="width: 100%;">
                        <img th:src="${hotel.urlImagem}" alt="Imagem do Hotel" style="width: 100%; height: 200px;"/>
                    </div>
                    <div class="content">
                        <a class="header" th:text="${hotel.nome}"></a>
                        <div class="meta">
                            <span class="description" th:text="${hotel.endereco}"></span></span>
                        </div>
                        </div>
                        <div class="extra content">
                            <div class="ui buttons">
                                <button class="ui blue button">
                                    <i class="eye icon"></i>
                                </button>
                                <div class="or" data-text="ou"></div>
                                <button class="ui button">
                                    <i class="edit icon"></i>
                                </button>
                                <div class="or" data-text="ou"></div>
                                <a th:href="${'/hotels/delete/' + hotel.id}" class="ui red button">
                                    <i class="delete icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--</section>-->
    
</body>
</html>
