<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="global.css">
    <title>Hub Hotels</title>
</head>
<body>

    <div class="ui fixed inverted menu">
        <div class="ui container">
            <a href="/" class="header item">
                Hub Hotels
            </a>
            <div class="right menu">
                <div class="ui simple dropdown item">
                    <span th:text="${user}"></span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item" href="/profile" th:text="#{profile}"></a>
                        <a class="item" href="/settings" th:text="#{settings}"></a>
                        <div class="divider"></div>
                        <a href="/logout" class="item">
                            <i class="sign out icon"></i>
                            <span th:text="#{logout}"></span>
                        </a>
                    </div>                                     
                </div>
                <div class="item">
                    <img class="ui avatar image" th:src="${avatar}" alt="Avatar do Usuário">
                </div>
            </div>
        </div>
    </div>

    <h1 style="margin-top: 50px;">Hub Hotels</h1>

    <h2>Hotels</h2>

    <a href="/hotels/new" class="ui green button" style="padding: 10px; min-width: auto; margin-bottom: 10px;">
        <i class="plus icon"></i>
        <span th:text="#{hotel.create}" style="margin-left: 5px;"></span>
    </a>

    <a href="/usuarios" class="ui yellow button" style="padding: 10px; min-width: auto; margin-bottom: 10px;">
        <i class="trophy icon"></i>
        <span style="margin-left: 5px;">Ranking</span>
    </a>

    <div class="ui red message" th:if="${errorMessage != null}">
        <div class="header" th:text="${errorMessage}"></div>
    </div>

    <div class="ui green message" th:if="${sucessMessage != null}">
        <div class="header" th:text="${sucessMessage}"></div>
    </div>

    <div class="ui stackable five cards grid">
        <div class="ui five wide column" th:each="hotel : ${hotels}">
            <div class="ui card">
                <div class="image" style="width: 100%;">
                    <img th:src="${hotel.urlImagem}" th:alt="#{hotel.altImagem}" style="width: 100%; height: 200px;"/>
                </div>
                <div class="content">
                    <a class="header" th:text="${hotel.nome}"></a>
                    <div th:if="${hotel.usuario}" class="item" style="display: flex; justify-content: center; margin-top: 5px; margin-bottom: 5px;">
                        <img class="ui avatar image" th:src="${hotel.usuario.avatarUrl}" alt="Avatar do Gerente do Hotel">
                    </div>
                    <div class="meta">
                        <span class="description" th:text="${hotel.endereco}"></span></span>
                    </div>
                </div>
                <div class="extra content" style="display: flex; justify-content: center;">
                    <div th:if="${hotel.usuario == null}" class="ui buttons">
                        <form type="submit" th:action="${'/hotels/manage/' + hotel.id}" method="POST">
                            <button class="ui green button">
                                <i class="building icon"></i>
                            </button>
                        </form>
                        <div class="or" data-text="ou"></div>
                        <button class="ui blue button">
                            <i class="eye icon"></i>
                        </button>
                    </div>
                    <div th:if="${hotel.usuario == principal}" class="ui buttons">
                        <form type="submit" th:action="${'/hotels/drop/' + hotel.id}" method="POST">
                            <button class="ui yellow button">
                                <i class="user times icon"></i>
                            </button>
                        </form>
                        <div class="or" data-text="ou"></div>
                        <button class="ui button">
                            <i class="edit icon"></i>
                        </button>
                        <div class="or" data-text="ou"></div>
                        <form th:action="${'/hotels/' + hotel.id}" method="POST">
                            <input type="hidden" name="_method" value="delete"/>
                            <button class="ui red button">
                                <i class="trash icon"></i>
                            </button>
                        </form>
                    </div>
                    <div th:if="${hotel.usuario != null && hotel.usuario != principal}" class="ui buttons">
                        <button class="ui blue button">
                            <i class="eye icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>