<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../global.css">
    <title>Hub Hotels - Error</title>
</head>
<body>

    <h1>Hub Hotels</h1>

    <h2 th:text="#{error}"></h2>

    <div class="ui red message">
        <div class="header" th:text="${error}"></div>
        <p th:text="${message}"></p>
    </div>
    
</body>
</html>
